<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo Of Me......</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/lbs/w3.css">
    <link rel="stylesheet" href="../static/index/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

    <div class="form">
        <div class="form-header" style="background:#7777">
            <div class="container">
                <a class="home-page" style="text-align:left" href="{{ url_for('index') }}">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </a>
                <p class="username" style="text-align:right">hello {{ username }} <i class="fa fa-user" aria-hidden="true"></i>
                    <a href="{{ url_for('acess') }}">
                        <span class="glyphicon glyphicon-log-out"></span>
                    </a>
                </p>
                <h2 class='text-header' style="text-align:center">Todo List</h2>
            </div>
        </div>
        <div class="formsearch" style="text-align:right">
            <form action="/search"  method="POST">
                <input type="text" name="todo">
                <input type="submit" value="Search">
            </form>        
        </div>
        <div class="formbody">
            <div class="formbodyheader" style="text-align:center">
                <div class="form-add">
                    <form class = 'btn-add' style="text-align:center" action="/add"  method="POST">
                        <h2>Task </h2>
                        <input type="text" name="todo">
                        <input type="text" name="ngay">
                        <input type="submit" value="Add">
                    </form>
                    {% if erroradd %}
                    <p class="error-add"><strong>Error:</strong>{{ erroradd }}</p>
                    {% endif %}
                </div>
                <div class="formdata">

                    <div action="/update" method="POST">   
                        {% for todo in todos %}
                            <div id="todoSection{{ todo.id }}" class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span id="todoNumber{{ todo.id }}"></span> </h3>
                                </div>
                            
                                <div class="panel-body-data">
                                    <div class="form-inline">
                                        <div class="form-group" style="display:inline">
                                            <label for="todoInput{{ todo.id }}">Task</label>
                                            <input type="text" class="form-control" id="todoInput{{ todo.id }}" value="{{ todo.todo }}">
                        
                                            <label for="ngayInput{{ todo.id }}">Ngày</label>
                                            <input type="text" class="form-control" id="ngayInput{{ todo.id }}" value="{{ todo.ngay }}">
                                            
                                            <a class="btn-delete"style="font-size:12pt" href="{{ url_for('delete', id = todo.id) }}"> Delete</a> 
                                            <button type="submit" class="btn btn-primary updateButton" todo_id = "{{ todo.id }}">Update</button>
                                            <!-- <button type="button" class="btn btn-update"> Update</button>   -->
                                            <!-- <input type="submit" value="Update"> -->
                                                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% if errorsearch %}
                            <p class="error-search"><strong>Error:</strong>{{ errorsearch }}</p>
                            {% endif %} 
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html> 
