<!DOCTYPE html>
<html>
  <head>
    <title>new_title</title>
  </head>
  <body>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="user" value="{{
          request.form.user }}">
         <input type="password" placeholder="Password" name="pass" value="{{
          request.form.pass }}">
        <input class="btn btn-registry" type="submit" value="Registry">
      </form>
      {% if error %}
        <p class="error-register"><strong>Error:</strong>{{ error }}</p>
      {% endif %}
  </body>
</html>
